h1 {
  text-align: center;
  color: #57a250;
}
#content {
  width: 800px;
  height: 650px;
  margin: auto;
  overflow: hidden;
}

#splash {
  text-align: center;
}
.splash-img {
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.sprite {
  width: 101px;
  height: 171px;
  background-image: url('../img/sprites.png');
  float: left;
  margin-right: -1px;
  margin-bottom: -91px;
}
.preloader {
  display: none;
  width: 1px;
  height: 1px;
}
.empty-tile {
  background-position: 0px;
}
.wall-tile {
  background-position: -101px;
}
.block-sprite {
  background-position: -202px;
}
.goal-sprite {
  background-position: -303px;
}
.player-sprite {
  background-position: -404px;
}
