h1 {
  text-align: center;
  color: #57a250;
}
#content {
  width: 808px;
  height: 650px;
  overflow: hidden;
  margin: auto;
}

#splash {
  text-align: center;
}
.splash-img {
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.scene {
  width: 808px;
  height: 650px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin-right: -808px;
}
.filter {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  left: 0px;
  right: 0px;
}
.dark {
  background-color: black;
}
.light {
  background-color: white;
}

/* Each sprite has a width of 100px, plus a 1px border on the right which
 * overlaps with the next tile. A sprite also has a depth of 80px and a height
 * of up to 90px, for a total of 170px plus an overlapping bottom border.
 * 
 * All blocks have the same height: 40px. This allows them to stack nicely.
 */
.layer {
  font-size: 0px; /* no gap between rows */
  height: 480px; /* 6*80px depth */
  margin-bottom: -520px; /* 6*80px depth + 40px stacking height */
  position: relative;
  top: 40px; /* 1*40px stacking height */
}
.layer-line
{
	width: 3000px;
	height: 80px;
	margin: 0 auto;
}
.sprite {
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
}
.preloader {
  display: none;
  width: 1px;
  height: 1px;
}
.empty-tile {
  background-position: 101px;
}
.floor-tile {
  background-position: 0px;
}
.wall-tile {
  background-position: -101px;
}
.closed-door-tile {
  background-position: -707px;
}
.open-door-tile {
  background-position: -808px;
}
.wooden-block-sprite {
  background-position: -202px;
}
.red-button-tile {
  background-position: -909px;
}
.pressed-red-button-tile {
  background-position: -1010px;
}
.red-block-sprite {
  background-position: -3030px;
}
.green-button-tile {
  background-position: -1111px;
}
.pressed-green-button-tile {
  background-position: -1212px;
}
.green-block-sprite {
  background-position: -1313px;
}
.blue-button-tile {
  background-position: -1414px;
}
.pressed-blue-button-tile {
  background-position: -1515px;
}
.blue-block-sprite {
  background-position: -1616px;
}
.orange-button-tile {
  background-position: -1717px;
}
.pressed-orange-button-tile {
  background-position: -1818px;
}
.orange-block-sprite {
  background-position: -1919px;
}
.blood-on-floor {
  background-position: -3939px;
}
.fork-on-floor {
  background-position: -4040px;
}
.dropped-fork {
  background-position: -4141px;
}
.forktopus {
  background-position: -4545px;
}
.forktopus.left {
  background-position: -4646px;
}
.forked-block-hint-sprite {
  background-position: -4848px;
}


.forked:after {
  content: "";
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
  background-position: -2020px;
}
.sporked:after {
  content: "";
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
  background-position: -4444px;
}
.pushing:before {
  content: "";
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -101px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
}


/* :before and :after elements show up on *top* of the main element;
 * to display the fork under the player sprite, we display the fork
 * in the main element and the player sprite in the pseudo-element. */
.player-sprite.right {
  background-position: -303px;
}
.player-sprite { /* down, and default */
  background-position: -404px;
}
.player-sprite.up {
  background-position: -505px;
}
.player-sprite.left {
  background-position: -606px;
}
.player-sprite.forked.right {
  background-position: -2222px;
}
.player-sprite.forked {
  background-position: -2121px;
}
.player-sprite.forked.up {
  background-position: -505px;
}
.player-sprite.forked.left {
  background-position: -2121px;
}
.player-sprite.forked.right:after {
  background-position: -303px;
}
.player-sprite.forked:after {
  background-position: -404px;
}
.player-sprite.forked.up:after {
  background-position: -2121px;
}
.player-sprite.forked.left:after {
  background-position: -606px;
}
.player-sprite.sporked.right {
  background-position: -4343px;
}
.player-sprite.sporked {
  background-position: -4242px;
}
.player-sprite.sporked.up {
  background-position: -505px;
}
.player-sprite.sporked.left {
  background-position: -4242px;
}
.player-sprite.sporked.right:after {
  background-position: -303px;
}
.player-sprite.sporked:after {
  background-position: -404px;
}
.player-sprite.sporked.up:after {
  background-position: -4242px;
}
.player-sprite.sporked.left:after {
  background-position: -606px;
}

.lover-sprite.right {
  background-position: -2424px;
}
.lover-sprite { /* down, and default */
  background-position: -2525px;
}
.lover-sprite.up {
  background-position: -2626px;
}
.lover-sprite.left {
  background-position: -2727px;
}
.lover-sprite.forked.right {
  background-position: -2222px;
}
.lover-sprite.forked {
  background-position: -2121px;
}
.lover-sprite.forked.up {
  background-position: -2626px;
}
.lover-sprite.forked.left {
  background-position: -2121px;
}
.lover-sprite.forked.right:after {
  background-position: -2424px;
}
.lover-sprite.forked:after {
  background-position: -2525px;
}
.lover-sprite.forked.up:after {
  background-position: -2121px;
}
.lover-sprite.forked.left:after {
  background-position: -2727px;
}

.pushing.right:before {
  background-position: -4949px;
}
.pushing:before {
  background-position: -5050px;
}
.pushing.up:before {
  background-position: -5151px;
}
.pushing.left:before {
  background-position: -5252px;
}

.under-door {
  background-position: -2323px !important;
}
.under-door:after {
  background-position: -2323px !important;
}

.say:before {
  content: "";
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -101px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
  position: relative;
  left: -70px;
  top: -15px;
}
.say.heart:before {
  background-position: -2828px;
}
.say.press-z:before {
  background-position: -2929px;
}
.say.door-question:before {
  background-position: -3131px;
}
.say.door-exclam:before {
  background-position: -3232px;
}
.say.question:before {
  background-position: -3333px;
}
.say.exclam:before {
  background-position: -3434px;
}
.say.lightbulb:before {
  background-position: -3535px;
}
.say.r-question:before {
  background-position: -3636px;
}
.say.fork-question:before {
  background-position: -3737px;
}
.say.fork-exclam:before {
  background-position: -3838px;
}
.say.spork-exclam:before {
  background-position: -4747px;
}


.level-name {
  font-size: 24px;
  text-align: right;
  margin-top: -1em;
}


#credits {
  display: none;
  color: white;
  text-align: center;
}
#credits h3 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}
#credits h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}
#credits ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#credits img {
  height: 300px;
  padding: 20px;
}
#credits a {
  color: white;
}
#credits a:visited {
  color: white;
}
#credits .spacing {
  height: 280px;
}
