h1 {
  text-align: center;
  color: #57a250;
}
#content {
  width: 800px;
  margin: auto;
}

#splash {
  text-align: center;
}
.splash-img {
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.scene {
  width: 800px;
  height: 650px;
  overflow: auto;
  display: inline-block;
  position: relative;
  margin-right: -800px;
}
.filter {
  width: 800px;
  height: 650px;
  overflow: visible;
  position: absolute;
  left: 0px;
  right: 0px;
}
.dark {
  background-color: black;
}
.light {
  background-color: white;
}

.text {
  width: 800px;
  height: 650px;
  overflow: visible;
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
}
.text p {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000;
  display: block;
  overflow: visible;
  height: 22px;
  position: relative;
  top: 68px;
  margin-bottom: -22px;
}

/* Each sprite has a width of 100px, plus a 1px border on the right which
 * overlaps with the next tile. A sprite also has a depth of 80px and a height
 * of up to 90px, for a total of 170px plus an overlapping bottom border.
 * 
 * All blocks have the same height: 40px. This allows them to stack nicely.
 */
.layer {
  font-size: 0px; /* no gap between rows */
  height: 480px; /* 6*80px depth */
  margin-bottom: -520px; /* 6*80px depth + 40px stacking height */
  position: relative;
  top: 40px; /* 1*40px stacking height */
}
.layer-line
{
	width: 3000px;
	height: 80px;
}
.sprite {
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
}
.preloader {
  display: none;
  width: 1px;
  height: 1px;
}
.empty-tile {
  background-position: 101px;
}
.floor-tile {
  background-position: 0px;
}
.wall-tile {
  background-position: -101px;
}
.player-sprite.right {
  background-position: -303px;
}
.player-sprite { /* down, and default */
  background-position: -404px;
}
.player-sprite.up {
  background-position: -505px;
}
.player-sprite.left {
  background-position: -606px;
}
.closed-door-tile {
  background-position: -707px;
}
.open-door-tile {
  background-position: -808px;
}
.regular-button-tile {
  background-position: -909px;
}
.pressed-regular-button-tile {
  background-position: -1010px;
}
.regular-block-sprite {
  background-position: -202px;
}
.green-button-tile {
  background-position: -1111px;
}
.pressed-green-button-tile {
  background-position: -1212px;
}
.green-block-sprite {
  background-position: -1313px;
}
.blue-button-tile {
  background-position: -1414px;
}
.pressed-blue-button-tile {
  background-position: -1515px;
}
.blue-block-sprite {
  background-position: -1616px;
}
.orange-button-tile {
  background-position: -1717px;
}
.pressed-orange-button-tile {
  background-position: -1818px;
}
.orange-block-sprite {
  background-position: -1919px;
}

.forked:after {
  content: "";
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
  background-position: -2020px;
}

/* :before and :after elements show up on *top* of the main element;
 * to display the fork under the player sprite, we display the fork
 * in the main element and the player sprite in the pseudo-element. */
.player-sprite.forked.right {
  background-position: -2222px;
}
.player-sprite.forked {
  background-position: -2121px;
}
.player-sprite.forked.up {
  background-position: -505px;
}
.player-sprite.forked.left {
  background-position: -2121px;
}
.player-sprite.forked.right:after {
  background-position: -303px;
}
.player-sprite.forked:after {
  background-position: -404px;
}
.player-sprite.up.forked:after {
  background-position: -2121px;
}
.player-sprite.left.forked:after {
  background-position: -606px;
}
