h1 {
  text-align: center;
  color: #57a250;
}
#content {
  width: 800px;
  margin: auto;
}

#splash {
  text-align: center;
}
.splash-img {
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

/* Each sprite has a width of 100px, plus a 1px border on the right which
 * overlaps with the next tile. A sprite also has a depth of 80px and a height
 * of up to 90px, for a total of 170px plus an overlapping bottom border.
 * 
 * All blocks have the same height: 40px. This allows them to stack nicely.
 */
.scene {
  width: 800px;
  height: 650px;
  overflow: hidden;
  display: inline-block;
  margin-right: -800px;
}
.layer {
  font-size: 0px; /* no gap between rows */
  height: 480px; /* 6*80px depth */
  margin-bottom: -520px; /* 6*80px depth + 40px stacking height */
  position: relative;
  top: 40px; /* 1*40px stacking height */
}
.sprite {
  width: 101px; /* 100px width + 1px border */
  height: 171px; /* 80px depth + 90px height + 1px border */
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: -1px; /* 1px border */
  margin-bottom: -91px; /* 90px height + 1px border */
}
.preloader {
  display: none;
  width: 1px;
  height: 1px;
}
.empty-tile {
  background-position: 101px;
}
.floor-tile {
  background-position: 0px;
}
.wall-tile {
  background-position: -101px;
}
.block-sprite {
  background-position: -202px;
}
.goal-sprite {
  background-position: -303px;
}
.player-sprite {
  background-position: -404px;
}
